################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/.vs/StartupSPASolution/v15/Solution.VC.db-wal
